 <!-- Main News Slider Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 px-0">
                <div class="owl-carousel main-carousel position-relative">
                    <div class="position-relative overflow-hidden" style="height: 500px;">
                        <img class="img-fluid h-100"
                            src="https://static.bnr.bg/gallery/cr/medium/e21ff7fe30835677349ff868d84a1d2c.jfif"
                            style="object-fit: cover;">
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="">Футбол</a>
                                <a class="text-white" href="">Октомври 17, 2023</a>
                            </div>
                            <a class="h2 m-0 text-white text-uppercase font-weight-bold" href="">Ливурпул пак победи
                                Манчестър Юнайтед със 7:0!</a>
                        </div>
                    </div>
                    <div class="position-relative overflow-hidden" style="height: 500px;">
                        <img class="img-fluid h-100"
                            src="https://cdn.actualno.eu/actualno_2013/upload/news/2022/08/31/0804974001661952705_1937598_920x517.webp"
                            style="object-fit: cover;">
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="">Футбол</a>
                                <a class="text-white" href="">Октомври 17, 2023</a>
                            </div>
                            <a class="h2 m-0 text-white text-uppercase font-weight-bold" href="">Перуката подаде
                                оставка!</a>
                        </div>
                    </div>
                    <div class="position-relative overflow-hidden" style="height: 500px;">
                        <img class="img-fluid h-100"
                            src="https://tennis.bg/uploaded/posts/0d89de6946cd07606d90f7ed5bbea64c.jpg"
                            style="object-fit: cover;">
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="">Тенис</a>
                                <a class="text-white" href="">Октомври 17, 2023</a>
                            </div>
                            <a class="h2 m-0 text-white text-uppercase font-weight-bold" href="">Григор Димитров победи
                                Новак Джокович в успорван мач!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 px-0">
                <div class="row mx-0">
                    <div class="col-md-6 px-0">
                        <div class="position-relative overflow-hidden" style="height: 250px;">
                            <img class="img-fluid w-100 h-100"
                                src="https://debati.bg/wp-content/uploads/2021/09/8915916.jpeg"
                                style="object-fit: cover;">
                            <div class="overlay">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                        href="">Футбол</a>
                                    <a class="text-white" href=""><small>Октомври 17, 2023</small></a>
                                </div>
                                <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">Байерн Мюнхен
                                    с нов рекорд! Победи Барселона с 10:1! Томас Мюлер с 5 гола и 2 асистенции.</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 px-0">
                        <div class="position-relative overflow-hidden" style="height: 250px;">
                            <img class="img-fluid w-100 h-100"
                                src="https://trud.bg/public/images/articles/2020-06/29-1_8537684287945598666_big.jpg"
                                style="object-fit: cover;">
                            <div class="overlay">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                        href="">Бокс</a>
                                    <a class="text-white" href=""><small>Януари 01, 2045</small></a>
                                </div>
                                <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">Антъни Джошуа
                                    е следващият съперник на Тайсън Фюри!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 px-0">
                        <div class="position-relative overflow-hidden" style="height: 250px;">
                            <img class="img-fluid w-100 h-100"
                                src="https://m4.netinfo.bg/media/images/41037/41037342/960-600-bylgariia-franciia.jpg"
                                style="object-fit: cover;">
                            <div class="overlay">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                        href="">Волейбол</a>
                                    <a class="text-white" href=""><small>Януари 01, 2045</small></a>
                                </div>
                                <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">България се
                                    класира за олимпиадата!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 px-0">
                        <div class="position-relative overflow-hidden" style="height: 250px;">
                            <img class="img-fluid w-100 h-100"
                                src="https://trafficnews.bg/news/2023/10/16/vezenkov-igra-oshte-edna-predsezonnite-509.jpg"
                                style="object-fit: cover;">
                            <div class="overlay">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                        href="">Баскетбол</a>
                                    <a class="text-white" href=""><small>Февруари 01, 2045</small></a>
                                </div>
                                <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">Сакраменто и
                                    Везенков с нова победа в НБА!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main News Slider End -->


    <!-- Breaking News Start -->
    <!-- <div class="container-fluid bg-dark py-3 mb-3">
        <div class="container">
            <div class="row align-items-center bg-dark">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <div class="bg-primary text-dark text-center font-weight-medium py-2" style="width: 170px;">
                            Breaking News</div>
                        <div class="owl-carousel tranding-carousel position-relative d-inline-flex align-items-center ml-3"
                            style="width: calc(100% - 170px); padding-right: 90px;">
                            <div class="text-truncate"><a class="text-white text-uppercase font-weight-semi-bold"
                                    href="">Lorem ipsum dolor sit amet elit. Proin interdum lacus eget ante tincidunt,
                                    sed faucibus nisl sodales</a></div>
                            <div class="text-truncate"><a class="text-white text-uppercase font-weight-semi-bold"
                                    href="">Lorem ipsum dolor sit amet elit. Proin interdum lacus eget ante tincidunt,
                                    sed faucibus nisl sodales</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Breaking News End -->


    <!-- Featured News Slider Start -->
    <div class="container-fluid pt-5 mb-3">
        <div class="container">
            <div class="section-title">
                <h4 class="m-0 text-uppercase font-weight-bold">Водещи новини</h4>
            </div>
            <div class="owl-carousel news-carousel carousel-item-4 position-relative">
                <div class="position-relative overflow-hidden" style="height: 300px;">
                    <img class="img-fluid h-100" src="https://i.id24.bg/i/1798136.jpg" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                href="">Футбол</a>
                            <a class="text-white" href=""><small>Окт 17, 2023</small></a>
                        </div>
                        <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">Ливърпул и Реал Мадрид
                            се размечтаха за Мусиала</a>
                    </div>
                </div>
                <div class="position-relative overflow-hidden" style="height: 300px;">
                    <img class="img-fluid h-100"
                        src="https://static.webcafe.bg/uploads/images/69/3569/213569/768x432.jpg?_=1605777573"
                        style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                href="">Футбол</a>
                            <a class="text-white" href=""><small>Окт 17, 2023</small></a>
                        </div>
                        <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">Скандален съдия отново
                            ще бъде на ВАР за мърсисайдското дерби</a>
                    </div>
                </div>
                <div class="position-relative overflow-hidden" style="height: 300px;">
                    <img class="img-fluid h-100"
                        src="https://m.netinfo.bg/media/images/12101/12101820/960-600-levski-na-final-za-kupata-na-bylgariia.jpg"
                        style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                href="">Волейбол</a>
                            <a class="text-white" href=""><small>Окт 17, 2023</small></a>
                        </div>
                        <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">Таланти на Левски
                            обраха индивидуалните награди за Суперкупата</a>
                    </div>
                </div>
                <div class="position-relative overflow-hidden" style="height: 300px;">
                    <img class="img-fluid h-100" src="https://dsport.bg/media/244/sofia_tournimage_16.l.webp"
                        style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                href="">Тенис</a>
                            <a class="text-white" href=""><small>Окт 17, 2023</small></a>
                        </div>
                        <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">Официално: Sofia Open
                            все пак ще има!</a>
                    </div>
                </div>
                <div class="position-relative overflow-hidden" style="height: 300px;">
                    <img class="img-fluid h-100"
                        src="https://static.bnr.bg/gallery/cr/medium/4f34ad78b1d307bc0c552d58818ea5b8.jpg"
                        style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                href="">Баскетбол</a>
                            <a class="text-white" href=""><small>Окт 17, 2023</small></a>
                        </div>
                        <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">Черноморец надви
                            Рилски спортист, Спартак Плевен с победа над Миньор в НБЛ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured News Slider End -->


    <!-- News With Sidebar Start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h4 class="m-0 text-uppercase font-weight-bold">Последни новини</h4>
                                <a class="text-secondary font-weight-medium text-decoration-none" href="">View All</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100 h-215"
                                    src="https://webnews.bg/uploads/images/52/8152/638152/768x432.jpg"
                                    style="object-fit: cover;">
                                <div class="bg-white border border-top-0 p-4">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">Футбол</a>
                                        <a class="text-body" href=""><small>Окт 17, 2023</small></a>
                                    </div>
                                    <a class="h4 mb-3 text-secondary text-uppercase font-weight-bold title-ellipsis"
                                        href="">Очаквано, България загуби от Албания!</a>
                                </div>
                                <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                    <div class="d-flex align-items-center">
                                        <!-- <img class="rounded-circle mr-2" src="img/user.jpg" width="25" height="25" alt="">
                                        <small>John Doe</small> -->
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <!-- <small class="ml-3"><i class="far fa-eye mr-2"></i>12345</small>
                                        <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100 h-215"
                                    src="https://tennis.bg/uploaded/posts/65b089b513798d10e406eded75770dd6.jpeg"
                                    style="object-fit: cover;">
                                <div class="bg-white border border-top-0 p-4">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">Тенис</a>
                                        <a class="text-body" href=""><small>Окт 17, 2023</small></a>
                                    </div>
                                    <a class="h4 mb-3 text-secondary text-uppercase font-weight-bold title-ellipsis"
                                        href="">Играч от топ 10 идва за Sofia Open!</a>
                                </div>
                                <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                    <div class="d-flex align-items-center">
                                        <!-- <img class="rounded-circle mr-2" src="img/user.jpg" width="25" height="25" alt="">
                                        <small>John Doe</small> -->
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <!-- <small class="ml-3"><i class="far fa-eye mr-2"></i>12345</small>
                                        <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="col-lg-12 mb-3">
                            <a href=""><img class="img-fluid w-100" src="img/ads-728x90.png" alt=""></a>
                        </div> -->
                        <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100 h-215" src="https://static.bnr.bg/gallery/cr/f38348bd572a816685f18972b98d3120.jpeg" style="object-fit: cover;">
                                <div class="bg-white border border-top-0 p-4">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">Бадминтон</a>
                                        <a class="text-body" href=""><small>Окт 19, 2023</small></a>
                                    </div>
                                    <a class="h4 mb-0 text-secondary text-uppercase font-weight-bold title-ellipsis"
                                        href="">Калояна Налбантова със страхотна победа в Абу Даби</a>
                                </div>
                                <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                    <div class="d-flex align-items-center">
                                        <!-- <img class="rounded-circle mr-2" src="img/user.jpg" width="25" height="25"
                                            alt="">
                                        <small>John Doe</small> -->
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <!-- <small class="ml-3"><i class="far fa-eye mr-2"></i>12345</small>
                                        <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100 h-215" src="https://images2.minutemediacdn.com/image/upload/c_crop,w_2523,h_1419,x_72,y_99/c_fill,w_2160,ar_16:9,f_auto,q_auto,g_auto/images%2FGettyImages%2Fmmsport%2F90min_en_international_web%2F01hd67n2x7qk7zw3shyy.jpg" style="object-fit: cover;">
                                <div class="bg-white border border-top-0 p-4">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">Футбол</a>
                                        <a class="text-body" href=""><small>Окт 20, 2023</small></a>
                                    </div>
                                    <a class="h4 mb-0 text-secondary text-uppercase font-weight-bold title-ellipsis"
                                        href="">Джуд Белингам разкрива тайната зад невероятния старт на Реал Мадрид</a>
                                </div>
                                <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                    <div class="d-flex align-items-center">
                                        <!-- <img class="rounded-circle mr-2" src="img/user.jpg" width="25" height="25"
                                            alt="">
                                        <small>John Doe</small> -->
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <!-- <small class="ml-3"><i class="far fa-eye mr-2"></i>12345</small>
                                        <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid small-pics"
                                    src="https://cdn.actualno.eu/actualno_2013/upload/news/2023/06/17/0631825001687001884_2009787_300x165.webp"
                                    alt="">
                                <div
                                    class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2"
                                            href="">Футбол</a>
                                        <a class="text-body" href=""><small>Окт 20, 2023</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold title-ellipsis" href="">Маурисио Почетино признава, че кризата с контузията в Челси не е просто „лош късмет“</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid small-pics" src="https://m3.netinfo.bg/media/images/50128/50128701/960-600-rafael-nadal-lorenco-sonego.jpg" alt="">
                                <div
                                    class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2"
                                            href="">Тенис</a>
                                        <a class="text-body" href=""><small>Окт 20, 2023</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold title-ellipsis" href="">Надал „Не може да потвърди“ кога ще се върне в тениса</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid small-pics" src="https://upload.wikimedia.org/wikipedia/en/thumb/d/dc/Phoenix_Suns_logo.svg/1200px-Phoenix_Suns_logo.svg.png" alt="">
                                <div
                                    class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2"
                                            href="">Баскетбол</a>
                                        <a class="text-body" href=""><small>Окт 20, 2023</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold title-ellipsis" href="">Коефициенти за шампионата на НБА: Това ли е годината на Финикс Сънс?</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid small-pics" src="https://static.standard.co.uk/2023/10/12/22/newFile-5.jpg?quality=75&auto=webp&width=960" alt="">
                                <div
                                    class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2"
                                            href="">Футбол</a>
                                        <a class="text-body" href=""><small>Окт 20, 2023</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold title-ellipsis" href="">Клоп потвърди лошата новина за Робъртсън</a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-lg-12 mb-3">
                            <a href=""><img class="img-fluid w-100" src="img/ads-728x90.png" alt=""></a>
                        </div> -->
                        <div class="col-lg-12">
                            <div class="row news-lg mx-0 mb-3">
                                <div class="col-md-6 h-100 px-0">
                                    <img class="img-fluid h-100" src="https://cdn.mos.cms.futurecdn.net/9Va95s36aNDCxXSnot5qiC-1200-80.jpg.webp"
                                        style="object-fit: cover;">
                                </div>
                                <div class="col-md-6 d-flex flex-column border bg-white h-100 px-0">
                                    <div class="mt-auto p-4">
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                href="">Футбол</a>
                                            <a class="text-body" href=""><small>Окт 20, 2023</small></a>
                                        </div>
                                        <a class="h4 mb-3 text-secondary text-uppercase font-weight-bold title-ellipsis-7"
                                            href="">Виктор Осимен напуска Наполи? Собственикът бави продажбата, като конкурентите Челси, Ливърпул и Арсенал са изправени пред трудни преговори</a>
                                        <p class="m-0"></p>
                                    </div>
                                    <div class="d-flex justify-content-between bg-white border-top mt-auto p-4">
                                        <div class="d-flex align-items-center">
                                            <!-- <img class="rounded-circle mr-2" src="img/user.jpg" width="25" height="25"
                                                alt="">
                                            <small>John Doe</small> -->
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <!-- <small class="ml-3"><i class="far fa-eye mr-2"></i>12345</small>
                                            <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid small-pics" src="https://images2.minutemediacdn.com/image/upload/c_crop,w_1024,h_682,x_0,y_0/c_fill,w_1440,ar_3:2,f_auto,q_auto,g_auto/images%2FGettyImages%2Fmmsport%2F90min_en_international_web%2F01hd46jbtzkncnrbrvxq.jpg" alt="">
                                <div
                                    class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2"
                                            href="">Футбол</a>
                                        <a class="text-body" href=""><small>Окт 20, 2023</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold title-ellipsis" href="">Ман Юнайтед с контузия на важен пост преди двубоя с Шефилд Юнайтед</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid small-pics" src="https://novsport.com/images/news/2023/10/3262466/8296344.jpg" alt="">
                                <div
                                    class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2"
                                            href="">Футбол</a>
                                        <a class="text-body" href=""><small>Окт 20, 2023</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold title-ellipsis" href="">Сандро Тонали: Мениджърът на Нюкасъл Еди Хау потвърди, че халфът е на разположение  срещу Кристъл Палас</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid small-pics" src="https://scontent.fsof11-1.fna.fbcdn.net/v/t39.30808-6/393909971_122133836894016521_8396711239421727877_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=UYqHNMFbgckAX9sm0Rc&_nc_ht=scontent.fsof11-1.fna&oh=00_AfC628yid9w_AYqR1FGdn1MYg1UMJV42Zgl8F8zyS_Z1fw&oe=65371AD0" alt="">
                                <div
                                    class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2"
                                            href="">Падел</a>
                                        <a class="text-body" href=""><small>Окт 20, 2023</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold title-ellipsis" href="">Българска Федерация по Падел официално става част от East European Padel Tour!</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid small-pics" src="https://sportal365images.com/process/smp-images-production/sportal.bg/20102023/6217a3cb-3408-4c3d-95fe-d6b973dd1334.jpeg?operations=crop(0:0:3999:2250),fit(968:545)&format=webp" alt="">
                                <div
                                    class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2"
                                            href="">Футбол</a>
                                        <a class="text-body" href=""><small>Окт 20, 2023</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold title-ellipsis" href="">Кроос за трансферите в Саудитска Арабия: Явно всичко е заради парите</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <!-- Social Follow Start -->
                    <!-- <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Follow Us</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                                <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Fans</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                                <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Followers</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
                                <i class="fab fa-linkedin-in text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Connects</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                                <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Followers</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                                <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Subscribers</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none" style="background: #055570;">
                                <i class="fab fa-vimeo-v text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Followers</span>
                            </a>
                        </div>
                    </div> -->
                    <!-- Social Follow End -->

                    <!-- Ads Start -->
                    <!-- <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Advertisement</h4>
                        </div>
                        <div class="bg-white text-center border border-top-0 p-3">
                            <a href=""><img class="img-fluid" src="img/news-800x500-2.jpg" alt=""></a>
                        </div>
                    </div> -->
                    <!-- Ads End -->

                    <!-- Popular News Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Из деня </h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid small-pics" src="https://static.flashscore.com/res/image/data/My37q9hl-2etDJpyN.png" alt="">
                                <div
                                    class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2"
                                            href="">Футбол</a>
                                        <a class="text-body" href=""><small>Окт 17, 2023</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold title-ellipsis" href="">Николо
                                        Фаджоли ще бъде извън терените за седем месеца</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid small-pics" src="https://m3.netinfo.bg/media/images/50621/50621315/r-960-600-shveciia-fenove.jpg" alt="">
                                <div
                                    class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2"
                                            href="">Футбол</a>
                                        <a class="text-body" href=""><small>Окт 17, 2023</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold title-ellipsis" href="">Феновете на
                                        Швеция прекараха нощта под полицейска охрана</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid small-pics" src="https://bgpadeltour.com/_next/image?url=%2Fpadel-feneration.png&w=384&q=75" alt="">
                                <div
                                    class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2"
                                            href="">Падел</a>
                                        <a class="text-body" href=""><small>Окт 17, 2023</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold title-ellipsis"
                                        href="">Предпоследният турнир MKabel Padel Open 2O23 ще се проведе в Бургас на
                                        21.10.23</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Popular News End -->

                <!-- Newsletter Start -->
                <!-- <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Newsletter</h4>
                        </div>
                        <div class="bg-white text-center border border-top-0 p-3">
                            <p>Aliqu justo et labore at eirmod justo sea erat diam dolor diam vero kasd</p>
                            <div class="input-group mb-2" style="width: 100%;">
                                <input type="text" class="form-control form-control-lg" placeholder="Your Email">
                                <div class="input-group-append">
                                    <button class="btn btn-primary font-weight-bold px-3">Sign Up</button>
                                </div>
                            </div>
                            <small>Lorem ipsum dolor sit amet elit</small>
                        </div>
                    </div> -->
                <!-- Newsletter End -->

                <!-- Tags Start -->
                <!-- <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Tags</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            <div class="d-flex flex-wrap m-n1">
                                <a href="" class="btn btn-sm btn-outline-secondary m-1">Politics</a>
                                <a href="" class="btn btn-sm btn-outline-secondary m-1">Business</a>
                                <a href="" class="btn btn-sm btn-outline-secondary m-1">Corporate</a>
                                <a href="" class="btn btn-sm btn-outline-secondary m-1">Business</a>
                                <a href="" class="btn btn-sm btn-outline-secondary m-1">Health</a>
                                <a href="" class="btn btn-sm btn-outline-secondary m-1">Education</a>
                                <a href="" class="btn btn-sm btn-outline-secondary m-1">Science</a>
                                <a href="" class="btn btn-sm btn-outline-secondary m-1">Business</a>
                                <a href="" class="btn btn-sm btn-outline-secondary m-1">Foods</a>
                                <a href="" class="btn btn-sm btn-outline-secondary m-1">Travel</a>
                            </div>
                        </div>
                    </div> -->
                <!-- Tags End -->
            </div>
        </div>
    </div>
    </div>
    <!-- News With Sidebar End -->