<article class="privicy-policy">
    <header>
        <h1>Политика за поверителност</h1>
    </header>
    <h3>Информация за администратора на лични данни:</h3>

    <p>Спортхъб ООД е дружество, регистрирано в Търговския регистър на Агенцията по вписванията с ЕИК: {ЕИК на Вашата
        фирма, e-mail: sporthub15@gmail.com с тел.: +359888150756</p>
    <h3>Основания и цели, за които използваме Вашите лични данни</h3>
    <p>Ние обработваме Вашите лични данни на следните основания:</p>
    <ul style="list-style-type:disc;">
        <li>Общите условия за използване на Уебсайта;</li>
        <li>Изрично съгласие от Вас – целта се посочва за всеки конкретен случай;</li>
        <li>При предвидено задължение по закон;</li>
    </ul>
    <p>В следващите параграфи ще намерите детайлна информация относно обработването на личните Ви данни в зависимост от
        основанието, на което ги обработваме.</p>
    <h3>За изпълнение на договор</h3>

    <p>Ние обработваме личните Ви данни за нуждите на използване на Уебсайта съобразно с правилата на общите условия</p>
    <p>Цели на обработката (когато е относимо):</p>
    <p>1. установяване на самоличността Ви;</p>
    <p>2. предоставяне на функционалностите на нашия уебсайт</p>
    <p>На това основание обработваме единствено лични данни във връзка със създадения от Вас потребителски профил.</p>
    <p>Данните, събрани на това основание изтриваме 2 години след прекратяване на договорното отношение, независимо дали
        поради изтичане срока на договора, разваляне или друго основание.</p>
    <h3>След Ваше съгласие</h3>

    <p>Ние обработваме Вашите лични данни на това основание само след изрично, недвусмислено и доброволно съгласие от
        Ваша страна. Ние няма да предвиждаме каквито и да е неблагоприятни последици за Вас, ако откажете обработването
        на личните данни.</p>
    <p>Съгласието е отделно основание за обработване на личните Ви данни и целта на обработката е посочена в него, и не
        се покрива с целите, изброени в тази политика. Ако ни дадете съответното съгласие и до неговото оттегляне или
        прекратяване на всякакви договорни отношения с Вас изготвяме подходящи за Вас предложения за продукти/услуги,
        като извършваме детайлни анализи на Ваши основни лични данни;</p>

    <h4>Данни, които обработваме на това основание:</h4>

    <p>На това основание можем да обработваме лични данни за целите на директния маркетинг, включително данни за
        потребление на уебсайта и данни за профили в социалните мрежи.</p>
    <h4>Предоставяне на данни на трети лица</h4>
    <p>На това основание можем да предоставим Вашите данни на маркетинг агенции, Фейсбук, Гугъл или други подобни.</p>
    <h4>Оттегляне на съгласие</h4>
    <p>Предоставените съгласия могат да бъдат оттеглени по всяко време. Оттеглянето на съгласието няма отражение върху
        изпълнението на договорните задължения. Ако оттеглите съгласието си за обработване на лични данни за някой или
        всички начини, описани по-горе, ние няма да използваме личните Ви данни и информация за определените по-горе
        цели. Оттеглянето на съгласието не засяга законосъобразността на обработването, основано на дадено съгласие
        преди неговото оттегляне.</p>
    <p>За да оттеглите даденото съгласие е необходимо само да използвате сайта ни или просто данните ни за контакт.</p>
    <h4>Кога заличаваме данните, събрани на това основание</h4>
    <p>Данните, събрани на това основание, изтриваме при искане от Ваша страна или 12 месеца след първоначалното им
        събиране.</p>
    <h3>Как защитаваме Вашите лични данни</h3>
    <p>За осигуряване на адекватна защита на данните на компанията и своите клиенти, ние прилагаме всички необходими
        организационни и технически мерки, предвидени в Закона за защита на личните данни.</p>
    <p>Компанията е установила правила за предотвратяване на злоупотреби и пробиви в сигурността, което подпомага
        процесите по опазване и обезпечаване сигурността на Вашите данни.</p>
    <p>С цел максимална сигурност при обработка, пренос и съхранение на Вашите данни, може да използваме допълнителни
        механизми за защита като криптиране, псевдонимизация и др.</p>
    <h3>Права на Потребителите</h3>
    <p>Всеки Потребител на сайта се ползва с всички права за защита на личните данни съгласно българското
        законодателство и правото на Европейския съюз.</p>
    <p>Потребителят може да упражни правата си чрез изпращане на съобщение до имейла ни.</p>
    <p>Всеки Потребител има право на:</p>

    <ul style="list-style-type:disc;">
        <li>Информираност (във връзка с обработването на личните му данни от администратора);</li>
        <li>Достъп до собствените си лични данни;</li>
        <li>Коригиране (ако данните са неточни);</li>
        <li>Изтриване на личните данни (право „да бъдеш забравен“);</li>
        <li>Ограничаване на обработването от страна на администратора или обработващия лични данни;</li>
        <li>Преносимост на личните данни между отделните администратори;</li>
        <li>Възражение спрямо обработването на негови лични данни;</li>
        <li>Субектът на данни има право и да не бъде обект на решение, основаващо се единствено на автоматизирано
            обработване, включващо профилиране, което поражда правни последствия за субекта на данните или по подобен
            начин го засяга в значителна степен;</li>
        <li>Право на защита по съдебен или административен ред, в случай, че правата на субекта на данни са били
            нарушени.</li>
        <p>Потребителят може да поиска изтриване, ако е налице едно от следните условия:</p>
        <li>Личните данни повече не са необходими за целите, за които са били събрани или обработвани по друг начин;
        </li>
        <li>Потребителят оттегля своето съгласие, върху което се основава обработването на данните и няма друго правно
            основание за обработването;</li>
        <li>Потребителят данните възразява срещу обработването и няма законни основания за обработването, които да имат
            преимущество;</li>
        <li>Личните данни са били обработвани незаконосъобразно;</li>
        <li>Личните данни трябва да бъдат изтрити с цел спазването на правно задължение по правото на Съюза или правото
            на държава членка, което се прилага спрямо администратора;</li>
        <li>Личните данни са били събрани във връзка с предлагането на услуги на информационното общество на деца и
            съгласието е дадено от носещия родителска отговорност за детето.</li>
        <p>Потребителят има право да ограничи обработването на своите лични данни от страна на администратора, когато:
        </p>
        <li>Оспори точността на личните данни. В този случай ограничаването на обработването е за срок, който позволява
            на администратора да провери точността на личните данни;</li>
        <li>Обработването е неправомерно, но Потребителят не желае личните данни да бъдат изтрити, а изисква вместо това
            ограничаване на използването им;</li>
        <li>Администраторът не се нуждае повече от личните данни за целите на обработването, но Потребителят ги изисква
            за установяването, упражняването или защитата на правни претенции;</li>
        <li>Възразява срещу обработването в очакване на проверка дали законните основания на администратора имат
            преимущество пред интересите на Потребителя.</li>

        <h4>Право на преносимост.</h4>
        <p>Субектът на данните има право да получи личните данни, които го засягат и които той е предоставил на
            администратор, в структуриран, широко използван и пригоден за машинно четене формат и има правото да
            прехвърли тези данни на друг администратор без възпрепятстване от администратора, на когото личните данни са
            предоставени, когато обработването е основано на съгласие или на договорно задължение и обработването се
            извършва по автоматизиран начин. Когато упражнява правото си на преносимост на данните, субектът на данните
            има право да получи и пряко прехвърляне на личните данни от един администратор към друг, когато това е
            технически осъществимо.</p>
        <h4>Право на възражение.</h4>
        <p>Потребителите имат право да възразят пред администратора срещу обработването на личните им данни.
            Администраторът на лични данни е длъжен да прекрати обработването, освен ако не докаже, че съществуват
            убедителни законови основания за обработването, които имат предимство пред интересите, правата и свободите
            на субекта на данни, или за установяването, упражняването или защитата на правни претенции.При възразяване
            срещу обработването на лични данни за целите на директния маркетинг обработването следва да се прекрати
            незабавно.</p>
        <h4>Жалба до надзорния орган</h4>
        <p>Всеки Потребител има право да подаде жалба срещу незаконосъобразно обработване на личните му данни до Комисия
            за защита на личните данни или до компетентния съд.</p>
    </ul>
</article>