<article class="terms-and-conditions">
    <header>
        <h1>Общи условия</h1>
        <p>Настоящите общи условия уреждат условията за използване на {името на Вашия домейн}, по-долу за краткост
            „уебсайта“.</p>
        <p>Уебсайтът се управлява от Спортхъб ООД с ЕИК {ЕИК на Вашата фирма}, по-долу за краткост „Оператор“. При
            необходимост можете да се свържете с нас посредством следните контакти:</p>
        <p>Имейл: sporthub@info.com</p>
        <p>Телефон: +359888150756</p>
        <p>Чрез използването на Уебсайта потребителят се съгласява с настоящите общи условия. Ако не сте съгласни
            със същите, следва да се въздържате от използване на Уебсайта.</p>
    </header>
    <h3> 1. Интелектуална собственост</h3>

    <p>1.1. Всички права върху интелектуалната собственост по отношение на информационните ресурси и
        съдържанието на уебсайта се Упражняват от Оператора. Същите са защитени от Закона за авторското
        право и сродните му права и всяко използване на съдържание от Уебсайта без съгласието на
        Оператора е нарушение на закона, от което може да последва гражданска, административно
        наказателна или наказателна отговорност.</p>
    <p>1.2. При копиране или възпроизвеждане на информация вън от допустимото, както и при всяко друго
        нарушение на правата на интелектуална собственост върху ресурсите на Оператора, Операторът има
        правото да претендира обезщетение и за претърпените преки и косвени вреди в пълен размер.
    <p>

    <h3>2. Ограничаване на отговорността</h3>

    <p>2.1. Операторът предприема необходимите мерки, за да поддържа съдържанието на Уебсайта актуално, но не носи
        отговорност за действителната актуалност на същото. Във връзка с това Операторът не носи отговорност за
        вреди, в това число преки и косвени вреди, включително пропуснати ползи, които потребител на Уебсайта би
        понесъл при каквито и да е обстоятелства, свързани с публикуваното съдържание на Уебсайта и достъпа до
        същия. Използвайки Уебсайта, потребителите поемат всички рискове, свързани с това, включително всеки риск за
        крайни потребителски устройства, софтуер или данни на потребителите.</p>
    <p>2.2. Доколкото в съдържанието на Уебсайта се съдържат препратки към съдържание, позиционирано извън същия
        потребителят е запознат с факта, че Операторът няма контрол върху същото и не носи отговорност за
        последиците от активиране на препратки, водещи извън Уебсайта.
        Операторът не носи отговорност за злонамерени действия от страна на трети лица, обект на които би могъл да
        стане потребителя, при използване на Уебсайта. Потребителят използва Уебсайта на своя отговорност.
    </p>

    <h3>3. Регистрация на потребители</h3>

    <p>3.1. Операторът запазва правото си да предоставя част от съдържанието на Уебсайта единствено на потребители,
        които са регистрирали свой потребителски профил на Уебсайта. Съответното съдържание, ограничено единствено
        до регистрирани потребители, следва във всеки един момент да бъде обозначено като такова от страна на
        Оператора.</p>
    <p>3.2. При създаване на потребителски профил потребителят се съгласява, че Операторът ще обработва неговите
        лични данни съобразно с правилата на Политиката за защита на лични данни, публикувана на Уебсайта.</p>

    <h3>4. Използване на уебсайта</h3>

    <p>4.1. Доколкото Операторът е предвидил възможност за потребители да качват съдържание в Уебсайта, същите
        следва да не качват клеветническо, нецензурирано, обидно, порнографско или по друг начин незаконно или
        противоречащо на морала съдържание.</p>
    <p>4.2. Потребителите следва да използват Уебсайта добросъвестно, в това число да не предприемат злонамерени
        действия, които да могат да се отразят на достъпността на съдържанието за трети лица или използването на
        Уебсайта изобщо.</p>

    <h3>5. Други</h3>

    <p>5.1. Операторът запазва правото си да изменя настоящите общи условия по свое усмотрение като във всеки един
        момент актуалните условия за ползване на Уебсайта ще бъдат публикувани на същия.</p>
    <p>5.2. По всички неуредени от настоящите Общи условия въпроси се прилагат разпоредбите на действащото
        законодателство на Република България.</p>

</article>