<main id="form-main">
    <section class="form-view">
        <h1>Вход</h1>
        <form action="" method="post" class="forms">
            <div class="input">
                <label for="username">Потребителско име</label>
                <input type="text" name="username" id="username" value="{{userData.username}}">
            </div>
            <div class="input">
                <label for="password">Парола</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="action">
                <input type="submit" value="Вход"></input>
            </div>
            <div class="no-reg">
                <p>Нямаш регистрация? <a href="/auth/register">Регистрирай се!</a> </p>
            </div>
        </form>
    </section>
</main>