<main id="form-main">
    <section class="form-view">
        <h1>Регистрация</h1>
        <form action="" method="post" class="forms">
            <div class="input">
                <label for="username">Потребителско име</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="input">
                <label for="firstName">Име</label>
                <input type="text" name="firstName" id="firstName">
            </div>
            <div class="input">
                <label for="lastName">Фамилия</label>
                <input type="text" name="lastName" id="lastName">
            </div>
            <div class="input">
                <label for="password">Парола</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="input">
                <label for="repass">Повтори парола</label>
                <input type="password" name="repass" id="repass">
            </div>
            <div class="input">
                <label for="email">E-mail</label>
                <input type="text" name="email" id="email">
            </div>
            <div class="action">
                <input type="submit" value="Регистрация"></input>
            </div>
        </form>
    </section>
</main>